/*Esta clase se encargara de formatar las cajas como tal, para que esten centradas y se muestren de forma correcta.*/
.caja{
    display: flex;
    justify-content: center;
}
/*Esta clase se encargara de dar color a las cajas que contengan texto o formularios. Es el estandar de la pagina.*/
.cajaTexto{
    background-color: #3584E4;
    margin: 20px;
    border: solid 3px #F2AB27;
}